.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--main-background-color);
  padding: 0 16px;
  height: 55px;
}

.nav-title {
  color: var(--secondary-font-color);
  font-size: 24px;
  font-weight: bold;
}

.nav-icon {
  height: 32px;
  width: 32px;
}

.container {
  display: flex;
  flex-direction: column;

  min-height: calc(100vh - 55px);
  max-width: 480px;
  padding: 16px;
  margin: 0 auto;
  background-color: var(--main-container-color);
}

.input {
  box-shadow: var(--main-box-shadow);
  border: none;
  border-radius: 6px;
  padding: 10px;

  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 600;
}

/* .emojis-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;

  margin-top: 32px;
} */

/* .emoji-box {
  background-color: var(--secondary-background-color);
  box-shadow: var(--main-box-shadow);
  border-radius: 4px;
  padding: 8px;
  margin: 4px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex: 1;

  min-height: 100px;
  min-width: 100px;

  transition: all 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
} */

/* .selected {
  transform: rotate(32deg) scale(1.4, 1.4);
  box-shadow: var(--main-box-shadow-elevated);
}

.emoji {
  font-size: 40px;
}

.emoji-text {
  font-size: 12px;
  font-weight: 600;
} */
