.container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.loader {
  border: 4px solid var(--main-border-color);
  border-radius: 50%;
  border-top: 4px solid var(--secondary-brand-color);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
