.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-color: var(--main-background-color);
  padding: 0 16px;
  height: 55px;
}

.nav-title {
  color: var(--secondary-font-color);
  font-size: 24px;
  font-weight: bold;
}

.container {
  display: flex;
  flex-direction: column;

  height: calc(100vh - 55px);
  max-width: 480px;
  padding: 16px;
  margin: 0 auto;
  background-color: var(--main-container-color);
}

.shopping-icon {
  height: 24px;
  width: 24px;
}

.form {
  display: flex;
}

.input {
  flex: 1;
  margin-right: 8px;

  box-shadow: var(--main-box-shadow);
  border: none;
  border-radius: 6px;
  padding: 10px;

  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 600;
}

.add-button {
  border: none;
  border-radius: 6px;

  color: var(--secondary-font-color);
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;

  width: 80px;
  background-color: var(--main-background-color);
  box-shadow: var(--main-box-shadow);
}

.todos {
  box-shadow: var(--main-box-shadow);

  /* margin-top: 64px; */

  overflow-x: hidden;
  overflow-y: auto;

  border-radius: 8px;
  max-height: 640px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60px;
  padding: 12px 16px;
  background-color: var(--secondary-background-color-light);

  color: var(--main-font-color);
  font-size: 16px;
  font-weight: 600;
}

.todo-count {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 24px;
  border-radius: 4px;

  color: var(--label-font-color);
  background-color: var(--secondary-background-color);
  box-shadow: var(--main-box-shadow-inset);
}

.todo-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  align-items: center;

  width: 120px;
}

.todo-action-button {
  border: none;
  background-color: unset;
  padding: unset;

  height: 24px;
  width: 24px;
}

.todo-divider {
  border-bottom: 1px solid var(--main-border-color);
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 16px 0;
}

.info-total {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main-font-color);
  font-size: 12px;
}

.info-total > p {
  font-weight: bold;
}

.delete-all-button {
  background-color: unset;
  border: none;
  padding: unset;

  color: var(--danger-font-color);
  font-size: 12px;
  font-weight: bold;
}
